VITE_FIREBASE_API_KEY=AIzaSyBWL2mm7CwncJSpsTQDipBlSyQYxAhf7Sg
VITE_FIREBASE_AUTH_DOMAIN=smart-water-bottle-fb3b7.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://smart-water-bottle-fb3b7-default-rtdb.firebaseio.com/
VITE_FIREBASE_PROJECT_ID=smart-water-bottle-fb3b7
VITE_FIREBASE_STORAGE_BUCKET=smart-water-bottle-fb3b7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=826867907527
VITE_FIREBASE_APP_ID=1:826867907527:web:095c532479796990eeb7e2
VITE_FIREBASE_MEASUREMENT_ID=G-ZN0P2WWZ3K